# Ignore environment variables
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
.venv/
env/

# Ignore logs
*.log

# Ignore VS Code settings
.vscode/

#Ignore these folders
audio

utilits